{
    "port": 7890,
    "mount": "/faye",
    "drowsy": {
        "scheme": "http",
        "hostname": "your.server.com",
        "port": 8080,
        "username": "foo",
        "password": "bar"
    }
}
